input {
  http {
    port => 8080
    add_field => {
      input => "default-http"
    }
  }
}

filter {}

output {
  elasticsearch {
    hosts => [ "{{ elk_logstash_elasticsearch | join('", "') }}" ]
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    document_type => "%{[@metadata][type]}"
  }
}
